@import 'variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-primary { background-color: var(--color-primary); }
    .bg-secondary { background-color: var(--color-secondary); }
    .bg-accent { background-color: var(--color-accent); }
    .bg-page-bg { background-color: var(--color-page-bg); }
    .bg-question { background-color: var(--color-question); }
    .text-text-dark { color: var(--color-text-dark); }
    .bg-gradient-lap { background: linear-gradient(to bottom, var(--color-secondary), var(--color-accent)); }
}
