:root {
    /* Primaire Kleuren */
    --color-primary: #E2006A;
    --color-secondary: #319E88;
    --color-accent: #1E5E51;
    --color-background: #FFF;
    --color-hover: #9c0055;
    /* Secundaire kleuren */
    --color-ue-red: #B30000;
    --color-oerrr: #F66D32;
    --color-ocean-green: #3FD68D;
    --color-babyblue: #EBF9FD;


    /* buttons */
    /* primary button */ /* zet btn-primary neer voor de knop met al deze functies */
    --button-primary-bg: #E2006A;
    --button-primary-text: #FFF;
    --button-primary-border: #E2006A;

    --button-primary-hover-bg: #FCEDF4;
    --button-primary-hover-text: #EB589D;
    --button-primary-hover-border: #EB589D;
    --button-primary-hover-bg-mobile: #8F1B54;
    --button-primary-hover-text-mobile: #FFF;
    --button-primary-hover-border-mobile: #8F1B54;

    --button-primary-active-bg: #E2006A;
    --button-primary-active-text: #FFF;
    --button-primary-active-border: #E2006A;

    --button-primary-inactive-bg: #B1A0A8;
    --button-primary-inactive-text: #333;
    --button-primary-inactive-border: #B1A0A8;

    --button-primary-focus-bg: #8F1B54;
    --button-primary-focus-text: #FFF;
    --button-primary-focus-border: #8F1B54;
    --button-primary-focus-outline: #E2006A;






    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;

    /* Rand radius */
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;

    /* Schaduwen */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    /* Typografie */
    --base-font-family: "Prokyon", "Prokyon Fallback";
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}
