:root {
    /* Primaire Kleuren */
    --color-primary: #E2006A;
    --color-secondary: #319E88;
    --color-accent: #1E5E51;
    --color-background: #FFF;
    --color-hover: #9c0055;
    /* Secundaire kleuren */
    --color-ue-red: #B30000;
    --color-oerrr: #F66D32;
    --color-ocean-green: #3FD68D;
    --color-babyblue: #EBF9FD;


    /* buttons */
    /* primary button */ /* zet btn-primary neer voor de knop met al deze functies */
    --button-primary-bg: #E2006A;
    --button-primary-text: #FFF;
    --button-primary-border: #E2006A;

    --button-primary-hover-bg: #FCEDF4;
    --button-primary-hover-text: #EB589D;
    --button-primary-hover-border: #EB589D;
    --button-primary-hover-bg-mobile: #8F1B54;
    --button-primary-hover-text-mobile: #FFF;
    --button-primary-hover-border-mobile: #8F1B54;

    --button-primary-active-bg: #E2006A;
    --button-primary-active-text: #FFF;
    --button-primary-active-border: #E2006A;

    --button-primary-inactive-bg: #B1A0A8;
    --button-primary-inactive-text: #333;
    --button-primary-inactive-border: #B1A0A8;

    --button-primary-focus-bg: #8F1B54;
    --button-primary-focus-text: #FFF;
    --button-primary-focus-border: #8F1B54;
    --button-primary-focus-outline: #E2006A;


    /* secondary button */
    --button-secondary-bg: #FFF;
    --button-secondary-text: #E2006A;
    --button-secondary-border: #E2006A;

    --button-secondary-hover-bg: #FCEDF4;
    --button-secondary-hover-text: #EB589D;
    --button-secondary-hover-border: #EB589D;

    --button-secondary-active-bg: #FCEDF4;
    --button-secondary-active-text: #EB589D;
    --button-secondary-active-border: #EB589D;

    --button-secondary-inactive-bg: #E6E6E6;
    --button-secondary-inactive-text: #000;
    --button-secondary-inactive-border: #BA97A7;

    --button-secondary-focus-bg: #FCEDF4;
    --button-secondary-focus-text: #E2006A;
    --button-secondary-focus-border: #FCEDF4;
    --button-secondary-focus-outline: #E2006A;


    /* tertiary button */
    --button-tertiary-bg: #1E5E51;
    --button-tertiary-text: #FFF;
    --button-tertiary-border: #1E5E51;

    --button-tertiary-hover-bg: #319E88;
    --button-tertiary-hover-text: #000;
    --button-tertiary-hover-border: #319E88;

    --button-tertiary-active-bg: #1E5E51;
    --button-tertiary-active-text: #FFF;
    --button-tertiary-active-border: #1E5E51;

    --button-tertiary-inactive-bg: #5C706C;
    --button-tertiary-inactive-text: #FFF;
    --button-tertiary-inactive-border: #5C706C;

    --button-tertiary-focus-bg: #1E5E51;
    --button-tertiary-focus-text: #FFF;
    --button-tertiary-focus-border: #1E5E51;
    --button-tertiary-focus-outline: #FFF;


    /* quaternary button */
    --button-quaternary-bg: #FFF;
    --button-quaternary-text: #333;
    --button-quaternary-border: #FFF;

    --button-quaternary-hover-bg: #FFF;
    --button-quaternary-hover-text: #333;
    --button-quaternary-hover-border: #FFF;

    --button-quaternary-active-bg: #FFF;
    --button-quaternary-active-text: #333;
    --button-quaternary-active-border: #FFF;

    --button-quaternary-inactive-bg: #E6E6E6;
    --button-quaternary-inactive-text: #000;
    --button-quaternary-inactive-border: #E6E6E6;

    --button-quaternary-focus-bg: #FFF;
    --button-quaternary-focus-text: #333;
    --button-quaternary-focus-border: #FFF;
    --button-quaternary-focus-outline: #000;


    /* quinary button */
    --button-quinary-bg: #EBF9FD;
    --button-quinary-text: #000;
    --button-quinary-border: #FFF;

    --button-quinary-hover-bg: #FFF;
    --button-quinary-hover-text: #333;
    --button-quinary-hover-border: #FFF;

    --button-quinary-active-bg: #EBF9FD;
    --button-quinary-active-text: #000;
    --button-quinary-active-border: #FFF;

    --button-quinary-inactive-bg: #D8DDDF;
    --button-quinary-inactive-text: #000;
    --button-quinary-inactive-border: #D8DDDF;

    --button-quinary-focus-bg: #FFF;
    --button-quinary-focus-text: #333;
    --button-quinary-focus-border: #FFF;
    --button-quinary-focus-outline: #FFF;




    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;

    /* Rand radius */
    --radius-sm: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;

    /* Schaduwen */
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    /* Typografie */
    --base-font-family: "Prokyon", "Prokyon Fallback";
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}
